<div class="column is-half">
  <div class="box">
    <h1>Welcome to Dash</h1>
    An app of minor convenience, pulling in your GitHub issues, pull requests, and Harvest projects.
    <br><br>
    <%= link "Create an account", to: Routes.user_path(@conn, :new) %> and have a great day!
  </div>
</div>
