h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.notification {
  margin-top: 1rem;
}

.box {
  margin-bottom: 1 rem;
}

.panel {
  border-radius: 30px 30px 0px 0px !important;
}

.flex-between {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;

  div:first-child {
    padding-right: 50px;
  }
}

.fas {
  vertical-align: middle;
  color: $primary;
  padding-bottom: 4px;
  padding-right: 5px;
}
