<!DOCTYPE html>
<html lang="en" class="background">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dash</title>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <%= if assigns[:background] do %>
  <%= csrf_meta_tag() %>
  <style>
    .background {
      background-image: url(<%= @background.url %>);
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      /* Set rules to fill background */
      min-height: 100%;

      /* Set up proportionate scaling */
      width: 100%;
      height: auto;
    }
  </style>
  <% end %>
</head>

<body class="">
  <%= render "navbar.html", conn: @conn, current_user: @current_user %>
  <div class="section">
    <div class="container">
      <%= if info = get_flash(@conn, :info) do %>
      <div class="notification is-info" role="alert"><%= info %></div>
      <% end %>
      <%= if error = get_flash(@conn, :error) do %>
      <div class="notification is-danger" role="alert"><%= error %></div>
      <% end %>
      <%= render @view_module, @view_template, assigns %>
    </div>
  </div>
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</body>

</html>
